*{
	font-size: 12px;
	padding: 0;
	color: #522a06;
	font-family: '宋体';
	list-style-type: none;
	text-decoration: none;
}
body{
		background-image:url(../images/bodybg.gif);
		text-align: center;

}
a:hover{text-decoration: underline;}
#header{
	height: 205px;
	background-image: url(../images/bg.gif);
	background-position: center top;
	background-repeat: no-repeat;
}
#banner{
	width: 1300px;
	height:129px;
}
.logo{	position: absolute;left: 25px;top: 38px;
}
#nav{
	height: 40px;
	background-image: url(../images/nav.jpg);
}
.nav_body{
	width: 1300px;
	color: #fff;
	margin-top: 20px;
}
.nav_content{
	width: 800px;
	height: 40px;
	font-weight: bold;
	padding-left: 70px;
	float: left;
}
#shou{
	color:#f9f603;
	float: left;
	padding-right: 13px;
}
.wen1{
	color: #fff;
	padding-left: 13px;
	padding-right: 13px;
	height: 12px;
	float: left;
	border-left: 2px solid;
	border-color: #fff;
	font-size: 12px;
}
a:hover{
	text-decoration: none;
	color:#f9f603;
}
.nav_search{
	width: 190px;
	height: 40px;
	float: left;
}
#search{
	width: 140px;
	height: 21px;
	background-color: #f8f5ee;
	float: left;
	margin-top: 7px;
}
#button{
	width: 44px;
	height: 21px;
	background-color: #000;
	color: #fff;
	border:1px solid #f8f5ee;
	margin-top: 7px;
	float: left;
}
#content{
	width: 1000px;
	overflow: hidden;
	margin: 0 auto;
	clear: both;
}
.szi{
	text-align: left;
}
.ri{
	width: 700px;
	float: left;
}
.biao1{
	font-size: 16px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	border-bottom: 1px solid #c9baa5;
}
.fbiao1{
	font-size: 12px;
	text-align: center;
	font-weight: normal;
	color: #757575;
	margin: 10px;
}
p{
	text-indent: 2em;
	margin-top: 5px;
	text-align: left;
	line-height: 25px;
}
.pic1{
	margin: 20px;
}
.ri3{
	height: 40px;
	line-height: 40px;
	margin-top: 10px;
	font-size: 13px;
	border-top: 1px solid #c9baa5;
}
.lian1{
	margin-right: 40px;
	color: #844004;
	font-size: 13px;
	float: left;
}
.le{
	width: 280px;
	float: left;
	margin-left: 16px;
}
.le1{
	border: 1px solid #c9baa5;
	background-image: url(../images/bg.png);
	margin-bottom: 20px;
}
.biao2{
	margin-bottom: 10px;
}
.lie1{
	line-height: 30px;
	margin-left: 13px;
	text-align: left;
}
#content_bottom_right{
	width: 280px;
	margin-top: 20px;
	float: right;
}
.biao6{
	height: 23px;
	background-image: url(../images/show.png);
	background-repeat: no-repeat;
	background-position: center;
}
.kuang{
	width: 362px;
	height: 380px;
	background-image: url(../images/show_bg.png);
	background-repeat: no-repeat;
}
.pic{
	padding: 25px;
	width: 224px;
}
.wen3{
	width: 224px;
	padding-left: 25px;
	text-align: left;
	line-height: 20px;
}
strong{
	color:#b70000;
}
.more{
	width: 254px;
	text-align: left;
	margin-left: 25px;
}

.footer{
	margin:  0 auto;
	height: 105px;
	clear: both;
	background-image: url(../images/foot.gif);
}
.sh{padding-left: 200px}
.wen4{
	float: left;
	margin-top: 20px;
	padding-left: 13px;
	padding-right: 13px;
	margin-bottom: 10px;
	height: 16px;
	border-left: 2px solid;
	font-size: 12px;
	font-weight: bolder;
}
.wei{
	padding: 5px;
}